.searchbar {
    border-radius:45px;
    width:95%;
    background-color: #212327;
    color: white;
    height: 30px;
    border-color: #2f3236;
}

.gear {
    width: 30px;
    float: right;
    margin-right: 12px;
    margin-top: 0;
    color: rgb(29, 161, 242);
}

.magnify {
    width: 15px;
    padding-left: 15px;
    padding-top:10px;
    position: absolute;
}
.search {
    margin-top: 0;
    padding-left: 16px;
}

::placeholder {
    color: white;
    padding-left: 30px;
}
:-ms-input-placeholder {
    color: white;
}
::-ms-input-placeholder {
    color: white;
}

.links {
    float: left;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 15px;
}
.nav {
    list-style: none;
    margin-bottom: 0;
    color: rgb(110, 118, 125);
}

.active {
    color: rgb(29, 161, 242);
    border-bottom: solid;
    margin-bottom: 16px;
}

hr {
    height: 10px;
    background-color: #21242c;
    border: none;
    width: 100%;
    margin: 0;
}

ul {
    list-style: none;
    padding-left:5px;
    margin: 0;
}

.border {
    border-top-style: solid;
    border-left-style: none;
    border-width: thin;
    color: rgb(47, 51, 54);
    clear: both;
    padding: 16px;
}

.topic, .no-of-tuits {
    font-size: 13px;
    color: rgb(110,118,125);
}

.publisher {
    color: white;
    font-size: 14px;
}

.title-time {
    color: rgb(110,118,125);
}

.title {
    color: white;
    font-size: 17px;
}

.sticky-footer {
    height: 50px;
    margin-top:-50px;
}
.sticky-footer > p > a {
    float: right;
    padding-right: 16px;
    font-size: 13px;
    text-decoration: none;
    color: white;
}

.space {
    height: 75px;
}

.wrapper {
    min-height: 100%;
    padding-top: 16px;
    padding-right: 16px;
}

.sticky-footer > p > a.back {
    float: left;
    padding-left: 16px;
    font-size: 13px;
    text-decoration: none;
    color: rgb(110,118,125);
}
.check-in-a-circle {
    margin-bottom: -5px;
    margin-top: 0;
}

.logo {
    max-height: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.circle {
    border-radius: 50%;
}

.story-pic {
    border-radius: 30px;
    width: 100px;
    height: 100px;
    padding: 10px 10px 10px;
}

.flex {
    float: right;
}

.dots {
    float: right;
    width: 15px;
}

.clear {
    clear: both;
}