

.sticky-footer {
    height: 50px;
    margin-top:-50px;
}
.sticky-footer > a {
    float: right;
    padding-right: 16px;
    font-size: 13px;
    text-decoration: none;
    color: rgb(110,118,125);
}

.sticky-footer > a.back {
    float: left;
    padding-left: 16px;
    font-size: 13px;
    text-decoration: none;
    color: rgb(110,118,125);
}
.check-in-a-circle {
    margin-bottom: -5px;
    margin-top: 0;
}

.logo {
    max-height: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.circle {
    border-radius: 50%;
}

.story-pic {
    border-radius: 30px;
    width: 100px;
    height: 100px;
    padding: 10px 10px 10px;
}

.clear {
    clear: both;
}

.active {
    color: white;
    background-color: #0C6DFD;
    border: #0C6DFD;
}

.fa-stack {
    height: 1em;
    width: 1em;
}

.who {
    padding-inline-start: 0;
    margin-bottom: 0;
}

ul {
    padding-inline-start: 0;
}

.searchbar {
    border-radius:45px;
    width:90%;
    color: black;
    height: 35px;
    border-color: lightgray;
}

.gear {
    width: 30px;
    float: right;
    margin-top: 0;
}

::placeholder {
    color: black;
    padding-left: 35px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    color: black;
}

.searchIcon {
    position: absolute;
    z-index: 2;
    display: block;
}

.middle-images {
    width: 100px;
    height: 100px;
}