html {
    height: 100%;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: black;
    color:white;
    padding-left: 16px;
    margin: 0;
    height: 100%;
}

.main-content {
    box-sizing: border-box;
    border-style: solid;
    margin: 5px;
    border-color:  rgb(47, 51, 54);
    min-height: 100%;
    border-top: none;
    padding: 10px;
}